<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.studentMapper">


	<select id="getTeacher" parameterType="String" resultType="com.ssm.pojo.Student">
		select teacher.name,course_conn_class.classid from teacher,student,course_conn_class where
		student.classid = course_conn_class.classid and
		course_conn_class.courseid = teacher.courseid and
		student.studentnumber = #{jobNumber}
	</select>

</mapper>